body {
	color: #222;
	font: 35px/1em "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	width: 80%;
	text-rendering: optimizeLegibility;
}
body.night { background: #222; color: aliceblue;}
span { color: #f4ce03; font-weight: bold; }
#Ethereum { color: #03a9f4; }
#BSC { color: #f4ce03; }
#Gnosis { color: #48a9a6; }
#Polygon { color: #9d03f4; }
#Fantom { color: #00dbff; }
#Arbitrum { color: #5a576d; }
#Optimism { color: #ff0e0e; }
#oof { background: #ababab50; color: #222; }
#oofCost { color: #ffaa00; }
.night #oof { background: #ababab30; color: #fff; }
a { text-decoration: none; color: #b8b8b8; }
#attrib { font-size: 0.5em; line-height: 1.5em; color: #666 }
p { margin: 0.65em 0; }
#oops {
	padding: 1em ;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%) 
}
#tipsy { margin: 0; padding:0; font-size: 0.7em;}
#tipsy span { color: #b8b8b8; font-weight: normal;}
#tipsy span:hover { text-decoration: underline; }
.tip { cursor: pointer; }

.toggle {
	display: inline-block;
	height: 0.8em;
	width: 0.8em;
	cursor: pointer;
	border: 2px solid #222;
	border-radius: 5px;
	transition: 0.5s;
	padding: 0.2em;
	margin: 0 0 3px 0;
	line-height: 100%;
	vertical-align: middle;
	fill: #222;
}
.toggle.active {
	fill: #fff;
	border: 2px solid #fff;
	height: 0.8em;
	width: 0.8em;
}

.toggle .dayIcon { display: none;	}
.toggle .nightIcon { display: block; }
.toggle.active .nightIcon	{ display: none; }
.toggle.active .dayIcon	{ display: block; }

@media only screen and (max-device-width: 480px) {
	body { font-size: 35px; padding: 10px; margin: 0; width: 100%;}
}

/* Ajoutez ces règles CSS pour les colonnes th */
th {
    width: calc(80% / 7); /* Répartit 80% de la largeur en 7 colonnes */
    padding: 5px; /* Ajoute un espace intérieur pour les cellules */
}

/* Ajoutez cette règle pour espacer les colonnes th */
th:not(:last-child) {
    margin-right: 10px; /* Espacement entre les colonnes */
}
